.sparkline-bg {
    fill: rgba(233, 236, 239, 0.15);
    width: 100%;
    height: 100%;
}

.active .sparkline-bg {
    fill: white
}

.sparkline-line {
    fill: none;
    stroke-width: 2px;
}

.sparkline-point {
    r: 2.5px;
}

.sparkline-avg-line {
    stroke: url(#gradient);
    stroke-dasharray: 5,3;
    stroke-opacity: 0.7;
}

.sparkline-mid-line {
    stroke: gray;
    stroke-dasharray: 1;
    stroke-opacity: 0.2;
}
