
.sparkline-bg {
    fill: rgba(233, 236, 239, 0.15);
    width: 100%;
    height: 100%;
}

.active .sparkline-bg {
    fill: white
}

.sparkline-line {
    fill: none;
    stroke-width: 2px;
}

.sparkline-point {
    r: 2.5px;
}